
<h1>Upload an Image</h1>
<%= simple_form_for(@product) do |f| %>
  <%= f.input :title %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.input :category, collection: ["Homepage","Still","Fashion","Portrait"], as: :select, required: true %>
  <%= f.submit %>
<% end %>

